body {
    background-image : url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/cc830f53315857.593f0b14abf2d.jpg);
    font-family      : 'Press Start 2P';
    background-repeat: no-repeat;
    font-size: 14px;
}

header {
    width : 100%;
    height: 70px;
}

.title {
    padding-top: 10px;
    margin-left: 15px;
    color      : white;
    text-align : left;
}

.logoone {
    list-style : none;
    position   : absolute;
    top        : 10px;
    margin-left: 15px;
    color      : white;
    left       : 15px;
}

.menu {
    list-style: none;
    position  : absolute;
    top       : 10px;
    right     : 100px;
}

.menu a {
    color: white;
}

.menu li {
    display  : inline;
    padding  : 3px;
}

#logo {
    height: 60px;
}

article {
    color     : white;
    text-align: center;
}

* {
    box-sizing: border-box
}

.container {
    padding: 30px;
}

input[type=text],
input[type=password] {
    width     : 100%;
    padding   : 15px;
    margin    : 5px 0 22px 0;
    display   : inline-block;
    border    : none;
    background: transparent;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: rgb(54, 1, 54);
    outline         : none;
}

hr {
    border       : 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerbtn {
    background-color: black;
    color           : white;
    padding         : 16px 20px;
    margin          : 8px 0;
    border          : none;
    cursor          : pointer;
    width           : 100%;
    opacity         : 0.9;
}

.registerbtn:hover {
    opacity: 1;
}